@import "tailwindcss";

@theme {
  --color-primary: #1E4E8C;
  --color-secondary: #4FA3D8;
  --color-dark: #0D1B2A;
  --color-light: #E6EEF5;
  --color-accent: #2CA58D;
  --color-accent-alt: #F5C542;
}

html {
  scroll-behavior: smooth;
}